.home-page {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: relative; /* Necesario para el posicionamiento de los botones */
  margin-bottom: 3rem;
}

.home-logo {
  margin-bottom: 1.5rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Reemplazo de flex: 1 por flex-grow para mayor claridad */
  width: 100%;
  overflow: hidden; /* Evita que el contenido se desborde */
  align-items: center; /* Centra los elementos horizontalmente */
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre tarjetas */
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1; /* Reemplazo de flex: 1 por flex-grow */
  overflow: visible; /* Permite el desbordamiento visible si es necesario */
}

.visualizar-ubicacion-btn {
  display: inline-block;
  padding: 0.7rem;
  background-color: #0486FF; /* Fondo del botón */
  color: #FFF; /* Color del texto */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  text-align: center;
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
  height: auto; /* Ajusta la altura automáticamente */
  width: auto; /* Ajusta el ancho automáticamente */
  margin: 0.75rem;
}

.visualizar-ubicacion-btn:hover {
  background-color: #0369d9; /* Fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala al hover */
}

.home-buttons {
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
  justify-content: center; /* Centra los botones */
  width: 100%; /* Contenedor ocupa todo el ancho */
  margin-bottom: 2rem;
}

.home-buttons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pasarela-home {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.extraButtons {
  margin-top: 3rem;
}

.home-title {
  margin: 2rem;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
/* Estilos para el contenedor de agregar código de invitado */
.add-invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  background-color: #f9f9f9; /* Fondo del contenedor */
  border: 2px solid #0486FF; /* Borde azul */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo del input para el código de invitado */
.input-invite {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.input-invite:focus {
  border-color: #0486FF; /* Cambiar color de borde al enfocar */
}

/* Botón para agregar dispositivo invitado */
.add-invite-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #0486FF; /* Fondo azul */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  margin: 1rem;
}
.add-invite-btn-modal {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #0486FF; /* Fondo azul */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  margin: 0.5rem;
}
.add-dispo-inv-title{
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}
.add-invite-btn:disabled {
  background-color: #ccc; /* Fondo gris cuando está deshabilitado */
  cursor: not-allowed; /* Cursor no permitido */
}

.add-invite-btn:hover:enabled {
  background-color: #0369d9; /* Fondo más oscuro al pasar el mouse */
  transform: scale(1.05); /* Escalar ligeramente */
}

/* Mensaje de error general */
.error-message {
  color: #f44336; /* Rojo */
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}
