.home-page {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: relative; /* Necesario para el posicionamiento de los botones */
  margin-bottom: 3rem;
}

.home-logo {
  margin-bottom: 1.5rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Reemplazo de flex: 1 por flex-grow para mayor claridad */
  width: 100%;
  overflow: hidden; /* Evita que el contenido se desborde */
  align-items: center; /* Centra los elementos horizontalmente */
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre tarjetas */
  justify-content: space-evenly;
  width: 100%;
  flex-grow: 1; /* Reemplazo de flex: 1 por flex-grow */
  overflow: visible; /* Permite el desbordamiento visible si es necesario */
}

.visualizar-ubicacion-btn {
  display: inline-block;
  padding: 0.7rem;
  background-color: #0486FF; /* Fondo del botón */
  color: #FFF; /* Color del texto */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  text-align: center;
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
  height: auto; /* Ajusta la altura automáticamente */
  width: auto; /* Ajusta el ancho automáticamente */
  margin: 0.75rem;
}

.visualizar-ubicacion-btn:hover {
  background-color: #0369d9; /* Fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala al hover */
}

.home-buttons {
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
  justify-content: center; /* Centra los botones */
  width: 100%; /* Contenedor ocupa todo el ancho */
  margin-bottom: 2rem;
}

.home-buttons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.pasarela-home {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.extraButtons {
  margin-top: 3rem;
}

.home-title {
  margin: 2rem;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
