.card {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: 210px; 
    border: 3px solid #0486FF;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; 
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
}

.card-title-container {
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.card-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer; /* Indica que el título es clickeable */
}

.card-title.editable {
    background-color: #f0f8ff; /* Cambio de fondo para indicar que está en edición */
    border: 1px solid #0486FF; /* Borde para resaltar la edición */
    padding: 5px;
    border-radius: 5px;
    color: #0486FF; /* Cambio de color del texto cuando se está editando */
    outline: none; /* Evita que aparezca un borde de foco predeterminado */
}

.edit-icon {
    margin-left: 10px; 
    height: 1rem; 
    width: auto; 
    cursor: pointer;
}

.settings-icon {
    position: absolute;
    right: 2.5rem;
    top: 0.90rem;
    height: 1rem;
    width: auto; 
    cursor: pointer;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 15px;
    flex: 1; /* Permite que el contenido crezca hasta el límite de la tarjeta */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

.card-image {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.card-text {
    padding-left: 1rem;
    text-align: left;
    flex: 1; /* Permite que el texto se ajuste dentro del espacio disponible */
}

.card-text p {
    line-height: 2;
    font-size: 0.8rem;
    text-wrap: nowrap;
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega "..." al texto que se desborda */
}

.view-location-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #0486FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Estilos para el campo de texto de edición */
.edit-input {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    padding: 5px;
    border: 2px solid #0486FF;
    border-radius: 5px;
    outline: none;
}

.save-edit-button, .cancel-button {
    background-color: #0486FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1px; 
    cursor: pointer;
    font-size: 0.8rem; /* Font más pequeño */
    margin-left: 10px;
    padding: 5px;
}

.save-edit-button:hover, .cancel-button:hover {
    background-color: #0371d1; /* Cambio de color en hover */
}

.cancel-button {
    background-color: #FF4444;
}

.cancel-button:hover {
    background-color: #e03e3e;
}
